*{ margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box;
  scroll-behavior: smooth;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  scrollbar-color: #222121 #5a5bbc;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  
}
.container{
  max-width: 1140px;
  margin: 0 auto;
}
/*--------------------------------------------login----------------------------------*/
body{
  background: url('../images/bg1.png')  no-repeat center ;
  background-size:cover;
 
}
/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #222121; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #5a5bbc; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #7678f7; 
}
.lgm{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form {
  display: flex; 
  flex-direction: column;
  background: #222121;
  justify-content: center;
  align-items: center;
  margin:10%;
  width: 270px;
  border-radius: 20px;
  outline:5px solid #242323;
  padding: 50px 20px;
  gap: 20px;
}
.login-form>h1,.signup-1>h1{
  background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.login-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:15px;
}
.login-details>label,.signup-details>label{
  background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.login-details>input,.signup-details>input{
  border-radius: 10px;
  outline: none;
padding: 10px;
width: 100%;
border: 1px solid #4eb0f9;
color: #4eb0f9;
background: inherit;
}
.login-details>button,
.signup-details>button{
  padding: 12px 20px ;
font-size: inherit;
border-radius: 10px;
outline: none;
background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
border: 1px solid #5a5bbc;
cursor: pointer;
background-color: inherit;
}
.login-details>button:hover,
.signup-details>button:hover{
  
  background: #5fa8ff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #5fa8ff;
  font-weight: bold;
  transition: .5s ease;
}
.login-details>p{
padding-top: 15px;
margin-top: 10px;
background:-webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
border-top: 6px dotted #5fa8ff;  
}
.login-details>p>a{
 background:-webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-fill-color: transparent;
 text-decoration: none;
 font-weight: bold;
}
.login-details>p>a:hover{
  background:#5fa8ff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition:.5s ease;
}
  
  /*--------------------signup-------------------------*/
  .signup-1{
  display: flex; 
  flex-direction: column;
  background: #222121;
  justify-content: center;
  align-items: center;
  margin:20px 0px;
  border-radius: 20px;
  outline:5px solid #242323;
  padding: 50px 20px;
  gap: 20px;
}
.signup-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:5px;
}
.termsandcond{
  color: gray;
  text-align: center;
  cursor: pointer;
  margin: 15px 0px;
}
.sup{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup-details>p{
  padding-top: 15px;
  margin-top: 10px;
  background:-webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-top: 6px dotted #5fa8ff;  
  }
  .signup-details>p>a{
   background:-webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   text-decoration: none;
   font-weight: bold;
  }
  .signup-details>p>a:hover{
    background:#5fa8ff;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition:.5s ease;
  }
.sidetxt>p{
font-size: 150px;
text-shadow: 5px 5px #383636;
color: #111111;
}
.sidetxt>p:hover{
  text-shadow: 5px 5px #000;
  color: #383636;
  transition: .5s ease;
  cursor: pointer;
}
/*-------------------------header navbar---------------------------------*/
.header{
  background: #222121ab;
  margin-bottom: 100px;
  /*👉    background: #000000ab;
👈*/ }
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;/*👉
  position: absolute;👈*/
  top: 0;
  width: 100%;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.logo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  gap:15px;
  background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  font-size: 25px;

}
.logo>img {
 
  height: 80px;
}

.navbar {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-drp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inactive {
  text-decoration: none;
  background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 16px;
  padding: 14px 20px;
}
#btn1,#btn2,#btn3{
  border:none;
  outline:none;
}
.btn-nav{
  background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #5a5bbc;
  border-radius: 10px;
}
.btn-nav:hover{
  border: 1px solid #5fa8ff;
}
.active {
  background: #5fa8ff;
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
  -webkit-transition: .5s ease;
  transition:.5s ease;
}

.inactive:hover {
  background: #5fa8ff;
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
  /*👉color: linear-gradient;👈*/
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.menu {
  display: none;
}
/*-----------------------coion flip cards-----------------------------*/
.coins{
  margin-bottom: 100px;
}
.coins-main{
  text-align:center;
}
.coins-main>h1 , .about-us-heading>h1{
  background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
 padding-bottom: 50px;
 display: inline-block;
 font-size: 40px;
}
.coin-cards{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.flip-card {
  background:inherit;
  width: 300px;
  height: 350px;
  perspective: 1000px;
  border-radius: 8px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 20px 5px rgba(0,0,0,0.3);
      border-radius: 8px;

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;

}

.flip-card-front {
  background: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 25px;
      align-items: center;
      padding:15px 0px;
}
.flip-card-front>img{
 /*👉 height: 200px;👈*/
  width: 200px;
}
.flip-card-front>h2{
  background: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flip-card-back {
  color:#00005f;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  background: #111111ab;
}
.flip-card-back>h3{
  background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.buyandsell{
  display: flex;
  gap: 10px;
}
.buyandsell>a{
  background: inherit;
  border: 1px solid #5a5bbc;
  background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 10px;
  padding: 10px 25px;
  font-weight: bold;
  text-decoration: none;
}
.buyandsell>a:hover {
  background: #5fa8ff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
border:1px solid #5fa8ff;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
/*--------------------------------contact us----------------------*/
.contact-me-main {
  background: transparent;
  padding: 50px 0px 100px;
  text-align: center;
  margin-bottom :100px;
}

.contact-me-main > h1 {
  text-align: center;
  font-size: 40px;
  background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 50px;
  display: inline-block;
}

.contact-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 20px;
}

.contact > i {
  font-size: 40px;
  color: #5fa8ff;
}

.contact > h1 {
  font-size: 28px;
  background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}

.contact > a {
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
      font-style: italic;
}
/*----------------footer------------------------*/
.footer {
  background: transparent;
}

.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  padding-top: 60px;
  padding-bottom: 100px;
  border-top: 1px solid #5fa8ffab;

}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  width: 30%;
}

.footer-content > p {
  background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-content > h1 {
  background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}

.footer-content > a {
  text-decoration: none;
  background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.footer-content>a>i{
  background: #4eb0f9;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ft-links > i {
  font-size: 12px;
  visibility: hidden;
}



.footer-content > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer-links > a {
  background: #5fa8ff67;
  height: 30px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #5fa8ff;
  width: 30px;
  border-radius: 100%;
}

.footer-links > a:hover {
  background: #5fa8ffab;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.works-contain{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex: 1 1 0;
  width: 100%;
  gap: 5px;
}
.work-img{
  width: 30%;
  display: block;
}
.work-img>img{
  width: 100%;
}
.copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0px;
  border-top: 1px solid #5fa8ffab;
}

.copyrights > p {
  font-size: 14px;
  background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.copyrights > p > a {
  background: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.copyrights > p > a > span {
  background: #d1002c;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*--------------------------------about us------------------------------*/
.about-us-heading{
  text-align: center;
}
.about-us-desc{
  text-align: center;
  margin-bottom: 80px;
}
.about-us-desc>p{
  font-size:20px;
  line-height:170%;
  background: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*---------------------side nav----------------------------*/
.admin-main{
  width: 100%;
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #222121ab;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav-inactive {
  padding: 30px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  cursor: pointer;
}
.sidenav-active{
  background: #5fa8ff;
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
  -webkit-transition: .5s ease;
  transition:.5s ease;
}
.sidenav>a:hover {
  background: #5fa8ff;
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
  -webkit-transition: .5s ease;
  transition:.5s ease;
}

/*👉.main {
  margin-left: 160px; ➡ Same as the width of the sidenav ⬅
  font-size: 28px; ➡ Increased text to enable scrolling ⬅
  padding: 0px 10px;
}👈*/
  
/*👉 @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}👈*/
/*-----------------------buy and sell panel---------------------*/
.buyandsellnavmain{
  margin-bottom: 100px;
}
.new{
  margin-top: 50px;
}
.buyandsellnav{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.buyandsellnav>input{
  display: none;
}

.bsnav{
  padding:10px 25px;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap:5px;
  cursor: pointer;
}
.bsnav>img{
  height:30px;
}
.btn-neon{
  text-decoration: none;
  text-align: center;
  color: #f5f5f5;
  transition: .5s;
  transition-delay: .5s;
  position: relative;
}

.btn-neon:hover,.bsnavactive{
  box-shadow: 0 0 10px #15cae6, 0 0 40px #2cafe1, 0 0 80px #15cae6;
  background-color: #15cae6;
  border-radius: 4px;
}

.btn-neon:hover polyline{
  stroke-dashoffset: -460;
}

.btn-neon svg{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
  height: 100%;
}

.btn-neon svg polyline{
  fill: transparent;
  stroke: #15cae6;
  stroke-width: 2px;
  stroke-dasharray: 40 460;
  stroke-dashoffset: 40;
  transition:  .5s ease-in-out;
}
.bitcoin,
.ethereum,
.solana,
.binance,
.polygon,
.avalanche,
.litecoin,
.dogecoin{
  display: none;
  flex-direction:column;
}

.panelcoinsdetails{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.panelcoinimg{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.panelcoinimg>h1>img{
  height:100px;
}
.panelcoinimg>h1{
  color: #fff;
  display: flex;
  align-items: center;
  gap:20px
}
.panelcoinimg>p{
  background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}
.panelcoinimg>p>span{
  background: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.panelcoinbtn{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.panelcoinbtn>input{
  background:inherit;
  color:#fff;
  border:none;
  outline:none;
  font-size: 20px;

}
.panelcoinbtn>button{
  
  border-radius: 4px;
  text-decoration: none;
  color:#fff;
  padding:20px 45px;
  font-weight:bold;
}

.panelcoinbtn>button:hover{
  
  transform: scale(1.1);
  border-radius: 8px;
  text-decoration: none;
  color:#fff;
  padding:20px 45px;
  font-weight:bold;
}

.red{
  background:rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
}
.green{
  background:rgb(7, 235, 7);
  border: 1px solid rgb(7, 235, 7);
}
.panelcoingraphanddesc{
  display:flex;
  flex-direction:column;
  gap: 15px;
}
.panelcoingraphanddesc>h1{
  background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:20px;
}
.panelcoingraphanddesc>p{
  color: #fff;
   line-height:170%;
}
 
#bitcoin:checked ~ .new .bitcoin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#ethereum:checked ~ .new .ethereum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#solana:checked ~ .new .solana {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
#avalanche:checked ~ .new .avalanche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
#polygon:checked ~ .new .polygon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
#binance:checked ~ .new .binance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: .5s ease;
}

#litecoin:checked ~ .new .litecoin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: .5s ease;
}

#dogecoin:checked ~ .new .litecoin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: .5s ease;
}

/*--------------------wallet--------------------*/
.coin-table{
margin-bottom: 100px;
}
.coin-table>h1{
background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
 padding-bottom: 50px;
 display: inline-block;
 font-size: 40px;
}
.coin-table>table{
background: #222121ab;
width: 100%;
}  
.coin-table>table>thead>tr>th{
background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
font-size:25px;
padding: 10px;
border-bottom: 1px solid #22212141;
}
.coin-table>table>tbody>tr>td{
font-size: 18px;
color: #fff;
text-align: center;
padding: 10px 0px;
border-bottom: 1px solid #22212141;

}  

/*------------------admin Panel--------------------*/
.delete-coin{
padding: 50px ;
width: 50%;
margin: 50px auto 100px ;
background: #242323;
border-radius: 20px;
  outline:5px solid #242323;
display: flex;
flex-direction:column;
gap: 25px;
}
.delete-coin>h1{
background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
 padding-bottom: 20px;
 display: inline-block;
 font-size: 40px;
 text-align: center;
}

.delete-coin>input{
border: none;
outline: none;
padding: 15px 0px 15px 20px;
border-radius: 10px;
  outline: none;
width: 100%;
border: 1px solid #4eb0f9;
color: #4eb0f9;
background: inherit;
}
.delete-coin>button{
  padding: 12px 20px ;
font-size: inherit;
border-radius: 10px;
outline: none;
background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
border: 1px solid #5a5bbc;
cursor: pointer;
background-color: inherit;
}
.delete-coin>button:hover{
  
  background: #5fa8ff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #5fa8ff;
  font-weight: bold;
  transition: .5s ease;
}
.add-admin{
  margin-bottom: 100px;
}
.adm{
display: flex;
justify-content: center;
align-items: center;
}
.adm-add{
  display: flex; 
  flex-direction: column;
  background: #222121;
  justify-content: center;
  align-items: center;
  margin:20px 0px;
  border-radius: 20px;
  outline:5px solid #242323;
  padding: 50px 20px;
  gap: 20px;
  width: 50%;
}
.adm-add>h1{
background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}
.adm-add-details{
display: flex;
flex-wrap:wrap ;
width: 100%;
gap:25px;
}
.adm-add-details>label{
background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: bold;
width: 30%;
}
.adm-add-details>input{
border-radius: 10px;
outline: none;
padding: 10px;
width: 59%;
border: 1px solid #4eb0f9;
color: #4eb0f9;
background: inherit;
}
.adm-add-details>button{
padding: 12px 50px ;
font-size: inherit;
border-radius: 10px;
outline: none;
background: -webkit-linear-gradient(45deg, #5a5bbc 0%,#717ef3 25%,#846cf5 50%,#5fa8ff 75%,#15cae6 100%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
border: 1px solid #5a5bbc;
cursor: pointer;
width: 50%;
  margin: 0 auto;
background-color: inherit;
}
.adm-add-details>button:hover{

background: #5fa8ff;
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
border: 1px solid #5fa8ff;
font-weight: bold;
transition: .5s ease;
}